*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerWelcome{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.containerWelcome .titleWelcome{
    font-size: 55px;
    font-weight: 500;
    position: relative;
}

.containerWelcome .titleWelcome::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 250px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerWelcome form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px); */
    width: 100%;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .signup-details .signup-title{
    font-size: 20px;
    font-weight: 500;
}

form .signup-details .category{
    display: flex;
    width: 80%;
    font-weight: 500;
}

form .buttonWelcome{
    height: 45px;
    margin: 35px 0;
}

form .buttonWelcome input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .buttonWelcome input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* @media (max-width: 584px){
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .signup-details .category{
        width: 100%;
    }
} */